################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Without Factory Pattern/NationalParkSimulator/.vs/NationalParkSimulator
/Without Factory Pattern/NationalParkSimulator/NationalParkSimulator.Console/bin/Debug/net8.0
/Without Factory Pattern/NationalParkSimulator/NationalParkSimulator.Console/obj
/Without Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/bin/Debug/net8.0
/Without Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj
/With Factory Pattern/NationalParkSimulator/.vs/NationalParkSimulator
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Console/obj
/Without Factory Pattern/NationalParkSimulator/.vs/ProjectEvaluation
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Console/bin/Debug/net8.0
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/bin/Debug/net8.0
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/ref
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/refint
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.AssemblyInfo.cs
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.AssemblyInfoInputs.cache
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.csproj.CoreCompileInputs.cache
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.dll
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.csproj.FileListAbsolute.txt
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.pdb
/With Factory Pattern/NationalParkSimulator/NationalParkSimulator.Models/obj/Debug/net8.0/NationalParkSimulator.Models.sourcelink.json
